.q-last-block {
  // max-width: 575px;
  position: relative;
  display: none;
  padding-right: (367/916)*100%;

  @media (max-width: 1110px) {
    padding-right: 0;
  }

  &__title {
    // text-align: center;
    font-family: "UniNeueBold", sans-serif;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 32px;

    @include breakpoint(mobile-l) {
      font-size: 18px;
      line-height: normal;
      margin-bottom: 25px;
    }
  }

  &__questions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    @include breakpoint(mobile-m) {
      margin-bottom: 4px;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    display: flex;
    flex: 1 1 275px;
    align-items: center;
    max-width: 275px;
    border: 1px solid #d9deec;
    border-radius: 4px;
    padding: 21px 19px;
    transition: all 0.2s;
    margin-bottom: 20px;

    @media (max-width: 765px) {
      padding: 12px 0 12px 7px;
      flex: 1 1 calc(50%  - 10px);
      margin-bottom: 16px;
      
      &:nth-of-type(odd) {
        margin-right: 20px;
      }
    }
  }

  &__label-checkbox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(53, 56, 66, 0.3) inset;
    margin-right: 15px;
    transition: all 0.2s;

    @media (max-width: 765px) {
      width: 22px;
      height: 22px;
      margin-right: 7px;
    }
  }

  &__label-text {
    font-size: 18px;

    @media (max-width: 765px) {
      font-size: 14px;
    }
  }

  &__input:checked + &__label {
    border: 1px solid $mariner;
  }

  &__input:checked + &__label &__label-checkbox {
    box-shadow: inset 0 0 0 8px $mariner;

    @media (max-width: 765px) {
      box-shadow: inset 0 0 0 6px $mariner;
    }
  }
  
  &__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    @include breakpoint(mobile-l) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__tel {
    flex: 1 1 275px;
    max-width: 275px;
    input {
      width: 100%;
    }

    @media (max-width: 765px) {
      margin-right: 20px;
    }

    @include breakpoint(mobile-l) {
      flex: 1 1 auto;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;

      input {
        padding: 17px 10px 17px 30px;
      }
    }
  }

  &__btn-accept {
    max-width: 275px;
    flex: 1 1 275px;

    span {
      font-size: 16px;
      line-height: 22px;
    }

    .blue-quiz-btn__inner {
      padding: 18px 0;

      @include breakpoint(mobile-xl) {
        padding: 13px 0;
      }
    }

    .blue-quiz-btn__inner span {
      @include breakpoint(mobile-xl) {
        margin-right: 0;
      }
    }

    @include breakpoint(mobile-l) {
      flex: 1 1 auto;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }

  &__accept {
    display: flex;
    justify-content: flex-end;

    .accept__label {
      font-size: 12px;

      @include breakpoint(mobile-l) {
        font-size: 11px;
      }
    }
    
    margin-right: -18px;
    margin-bottom: 34px;

    @include breakpoint(tablet) {
      margin-right: 0px;
    }

    @include breakpoint(mobile-xl) {
      margin: 0;
      justify-content: center;
      padding-top: 7px;
    }
  }

  &__final-row {
    padding-left: 54px;
    position: relative;
    margin-right: -10px;
    margin-bottom: 10px;

    @include breakpoint(mobile-l) {
      display: none;
    }
  }

  &__sheld {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 44px;
    
    .icon-shield {
      width: 100%;
      height: auto;
      fill: $mariner;
      width: 38px;
      height: 44px;
    }
  }

  &__low-text {
    font-size: 16px;
    line-height: 22px;
    font-family: "UniNeueBook", sans-serif;

    b {
      font-family: "UniNeueHeavy", sans-serif;
    }
  }

  &__pic-block {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-56%);
    width: 350px;

    @media (max-width: 1110px) {
      display: none;
    }
  }

  &__pic {
    position: relative;
    
    padding-top: (576/367)*100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}