include ../../components/simple-input/simple-input
include ../../components/blue-btn/blue-quiz-btn
include ../../components/accept/accept

.q-last-block
  .q-last-block__title Как вам удобнее получить план действий и консультацию от адвоката Юлии Ковалевой?
  .q-last-block__questions
    input(checked type="radio" id="lb-q1" name="Как Вам удобнее получить консультацию?" value="По телефону").q-last-block__input
    label(for="lb-q1").q-last-block__label
      .q-last-block__label-checkbox
      span.q-last-block__label-text По телефону
    input(type="radio" id="lb-q2" name="Как Вам удобнее получить консультацию?" value="WhatsApp").q-last-block__input
    label(for="lb-q2").q-last-block__label
      .q-last-block__label-checkbox
      span.q-last-block__label-text WhatsApp
    input(type="radio" id="lb-q3" name="Как Вам удобнее получить консультацию?" value="Viber").q-last-block__input
    label(for="lb-q3").q-last-block__label
      .q-last-block__label-checkbox
      span.q-last-block__label-text Viber
    input(type="radio" id="lb-q4" name="Как Вам удобнее получить консультацию?" value="Telegram").q-last-block__input
    label(for="lb-q4").q-last-block__label
      .q-last-block__label-checkbox
      span.q-last-block__label-text Telegram
  .q-last-block__bottom-row
    .q-last-block__tel
      +simple-input('+7 (___) ___-__-__', 'number', 'lb-tel-input')
    .q-last-block__btn-accept
      button(id="lb-submit-btn" type="submit" name="reason" value="Квиз").blue-btn
        .blue-quiz-btn__inner
          span.blue-btn__top-text Узнать стоимость<br />и получить консультацию
  .q-last-block__accept
    +accept('lb-accept-rules')
  .q-last-block__pic-block
    picture.q-last-block__pic
      source(srcset="", data-srcset="img/general/quiz-lb-pic.webp" type="image/webp")
      img(src="img/general/empty.png" data-src="img/general/quiz-lb-pic.png" alt="Чат").q-last-block__img