include ../../components/simple-input/simple-input
include ../../components/blue-btn/blue-quiz-btn
include ../../components/accept/accept

.q-last-block
    .q-last-block__title Как Вам удобнее получить консультацию?
    .q-last-block__questions
        input(checked type="radio" id="lb-q1-2" name="Как Вам удобнее получить консультацию?" value="По телефону").q-last-block__input
        label(for="lb-q1-2").q-last-block__label
            .q-last-block__label-checkbox
            span.q-last-block__label-text По телефону
        input(type="radio" id="lb-q2-2" name="Как Вам удобнее получить консультацию?" value="WhatsApp").q-last-block__input
        label(for="lb-q2-2").q-last-block__label
            .q-last-block__label-checkbox
            span.q-last-block__label-text WhatsApp
        input(type="radio" id="lb-q3-2" name="Как Вам удобнее получить консультацию?" value="Viber").q-last-block__input
        label(for="lb-q3-2").q-last-block__label
            .q-last-block__label-checkbox
            span.q-last-block__label-text Viber
        input(type="radio" id="lb-q4-2" name="Как Вам удобнее получить консультацию?" value="Telegram").q-last-block__input
        label(for="lb-q4-2").q-last-block__label
            .q-last-block__label-checkbox
            span.q-last-block__label-text Telegram
    .q-last-block__bottom-row
        .q-last-block__tel
            +simple-input('+7 (___) ___-__-__', 'number', 'lb-tel-input-2')
        .q-last-block__btn-accept
            button(id="lb-submit-btn-2" type="submit" name="reason" value="Квиз").blue-btn
                .blue-quiz-btn__inner
                    span.blue-btn__top-text Узнать стоимость<br />и получить консультацию
    .q-last-block__accept
        +accept('lb-accept-rules-2')
    .q-last-block__final-row
        .q-last-block__sheld
            +icon('shield')
        p.q-last-block__low-text В результате бесплатной консультации с юристом <b>Вы получите<br />план самостоятельных действий и узнаете точную стоимость ведения дела</b>