- var webpImg = 'img/general/modal-women_big.webp';
- var fallbackImg = 'img/general/modal-women_big.png';

.right-block
  picture.right-block__pic
    source(srcset="", data-srcset=`${webpImg}` type="image/webp")
    img(src="" data-src=`${fallbackImg}` alt="Беляева Инна").right-block__img
  .right-block__tag.tag
    .tag__inner
      .tag__title Беляева Инна
      .tag__text Семейный адвокат коллегии адвокатов «Право и технологии»