.delimeter {
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #2555de 50%, rgba(255, 255, 255, 0) 100%);
}

.form-prompt {
  line-height: 28px;
  color: $regent-gray;
}

@import "modal-1/modal-1";
@import "modal-2/modal-2";
@import "modal-3/modal-3";
@import "modal-4/modal-4";
@import "modal-5/modal-5";
@import "modal-6/modal-6";
@import "inc/inc";