include ../../components/sect-header/sect-header

.quiz-on-page
    .quiz-on-page__title
        +sect-header('Получите первоначальный план самостоятельных действий\n' +
        'и стоимость ведения дела, ответив на 5 вопросов за 1 минуту')
    include ../quiz2/quiz