.ctrl-arrow-2 {
  cursor: pointer;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 40px;
  height: 40px;
  background: linear-gradient(0, rgba(36, 61, 222, 1) 0%, rgba(69, 116, 251, 1) 100%);
  border-radius: 50%;

  &:hover {
    background: transparent;
    border: 2px solid #365cef;
  }

  &:hover &__icon {
    fill: #365cef;
    transition: all 0.3s;
  }

  &__icon {
    fill: $white;
    width: 7px;
    height: 14px;
  }

  &__icon.ctrl-arrow-2__icon--right {
    transform: translateX(1px);
  }

  &__icon.ctrl-arrow-2__icon--left {
    transform: rotate(180deg) translateX(1px);
  }

  // &:hover {
  //   transform: scale(1.04);
  // }

  // &:active {
  //   transform: scale(1);
  // }
}