.form-1 {
  box-sizing: border-box;
  position: relative;
  background: rgb(63, 60, 75);
  padding-top: 80px;
  padding-bottom: 78px;

  @supports(background: linear-gradient) {
    background: linear-gradient(-63deg, rgba(63, 60, 75, 1) 0%, rgba(43, 47, 61, 1) 100%);
  }

  @include breakpoint(tablet) {
    padding-bottom: 32px;
    padding-top: 34px;
  }

  &__block {
    margin-bottom: 70px;
    background: $white;
    box-shadow: 0 2px 28px 0 rgba(30, 54, 94, 0.35);
    border-radius: 6px;

    @include bottom-plank(10px, 6px);

    @include breakpoint(mobile-m) {
      @include bottom-plank(5px, 6px);
    }

    @include breakpoint(laptop) {
      box-sizing: border-box;
      max-width: $tablet;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 40px;
    }

    @include breakpoint(mobile-m) {
      padding: 28px 15px;
      margin-bottom: 38px;
    }
  }

  &__row {
    @include row-flex();
  }

  &__col {
    box-sizing: border-box;
    @include col();
    @include size(6);

    @include breakpoint(laptop) {
      @include size(12);
      // @include shift-left(1);
    }
  }

  &__col-1 {
    position: relative;
    padding-left: 65px;
    padding-top: 40px;
    padding-bottom: 70px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -26px;
      width: 1px;
      height: 100%;
      background: linear-gradient(-63deg, rgba(255,255,255,0) 0%, rgba(238,241,252,0) 5%, rgba(37,85,222,0.8) 50%, rgba(238,241,252,0) 95%, rgba(255,255,255,0) 100%);
    }

    @include breakpoint(laptop) {
      padding: 0;
      margin-bottom: 40px;
      // text-align: center;
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      &::after {
        display: none;
      }
    }

    @include breakpoint(mobile-m) {
      margin-bottom: 24px;
    }
  }

  &__col-2 {
    padding-top: 62px;
    padding-right: 5px;

    @include breakpoint(laptop) {
      padding: 0;
    }
  }

  &__title {
    font-family: "UniNeueBold", sans-serif;
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 20px;

    @include breakpoint(laptop) {
      text-align: center;
    }

    @include breakpoint(mobile-m) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__text {
    font-family: "UniNeueBook", sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;

    b {
      font-family: "UniNeueHeavy", sans-serif;
    }

    @include breakpoint(laptop) {
      margin-bottom: 20px;
    }

    @include breakpoint(mobile-m) {
      font-size: 16px;
      line-height: 22px;
      margin-right: -8px;
      margin-bottom: 26px;

      & .text-back {
        background: none;
      }
    }
  }

  &__notice {
    box-sizing: border-box;
    max-width: 405px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 2px 20px 0px rgba(30, 54, 94, 0.2);

    @include breakpoint(laptop) {
      margin: 0 auto;
    }
    @include breakpoint(mobile-m) {
      border-radius: 0;
      box-shadow: none;
      padding: 0;
      margin: 0 -5px;
    }   
  }

  &__notice-inner {
    border: 1px dashed $blue-haze;
    padding: 18px 10px 12px 14px;
    border-radius: 6px;

    display: flex;

    @include breakpoint(mobile-m) {
      padding: 10px 0 12px 0;
      align-items: center;
    }
  }

  &__notice-pic {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    flex-shrink: 0;

    @include breakpoint(mobile-m) {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      margin-left: 4px;
    }
  }

  &__notice-text {
    font-family: "UniNeueBook", sans-serif;
    font-size: 15px;
    line-height: 24px;

    @include breakpoint(mobile-l) {
      font-size: 13px;
      line-height: 19px;
    }
  }

  &__advantages {
    @include row-flex();
  }

  &__advantage {
    @include col();
    @include size(4);

    @include breakpoint(tablet) {
      @include size(8);
      @include shift-left(2);

      &:not(:last-child) {
        margin-bottom: 28px;
      }
    }

    @include breakpoint(mobile-m) {
      @include size(12);
      @include shift-left(0);
    }
  }

  &__form {
    max-width: 350px;
    margin: 0 auto;

    color: $regent-gray;

    @include breakpoint(laptop) {
      max-width: 100%;
    }

    @include breakpoint(mobile-m) {
      box-sizing: border-box;
      max-width: none;
      // width: calc(100% + 10px);
      margin: 0 -5px;
    }
  }

  &__label {
    margin-bottom: 8px;
    @include breakpoint(mobile-m) {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }

  &__input {
    margin-bottom: 17px;
    @include breakpoint(laptop) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  &__choose-msngr {
    margin-bottom: 10px;
  }

  &__btn-p {
    padding: 33px 0;
  }

  &__btn-p .blue-btn__top-text {
    font-size: 18px;
    letter-spacing: 0.01em;
  }

  &__accept {
    margin-top: 8px;
    padding-left: 17px;

    @include breakpoint(mobile-m) {
      margin-top: 13px;
      padding-left: 4px;
    }
  }

  &__picture {
    position: absolute;
    right: 0;
    top: 214px;
    width: 320px;

    @include breakpoint(contSize) {
      display: none;
    }
  }
}