extends practice-item

block variables
  - var piItemTitle = 'Помогли маме добиться позитивных условий,<br />несмотря на сложное положение';
  - var situationText = 'Супруг Марии ушел к новой пассии с угрозой, что подаст на развод и оставит Марию денег <br />и заберет детей...';
  - var whatWeDidText = 'В результате жесткой встречи с супругом мы убедили его подписать с Марией Соглашение <br />об определении места жительства детей с матерью...';
  - var resultText = 'Мы убедили супругов до развода подписать брачный договор по определению режима <br />совместного имущества согласно договоренности. Таким образом, удалость через суд быстро <br />и без проблем провести развод, так как оба супруга уже были согласны на развод, вопросов <br />по месту жительства детей у них не было, вопрос с алиментами решен.';
  - var doerName = 'Юлия Ковалева';
  - var imgDummyDesk = 'data:image/gif;base64,R0lGODlhQQBBAIAAAP///wAAACH5BAEAAAEALAAAAABBAEEAAAJGjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu97sqAAA7';
  - var imgWebp = 'img/general/practice-w1-desktop.webp';
  - var imgPng = 'img/general/practice-w1-desktop.png';