extends practice-item

block variables
  - var piItemTitle = 'Помогли супругу избежать финансовой кабалы<br/>и восстановить справедливость';
  - var situationText = 'К нам обратился Антон, чья жена подала на развод. Антон был согласен на развод и на выплату алиментов<span class="practice-item__dots">...</span><span class="practice-item__hidden"> на сына в размере ¼ от своего дохода, но жена требовала выплату алиментов в размере 150 тыс. в месяц якобы на лечение сына в Италии.</span>';
  - var whatWeDidText = 'При анализе документов, представленной Антоном информации, ознакомлением с материалами дела в суде нам стало понятно, что данные требования супруги Антона не обоснованы<span class="practice-item__dots">...</span><span class="practice-item__hidden">, мы установили, что сын уже прошел лечение в Италии.<br/><br/>В лечении наступила ремиссия, но за время нахождения супруги Антона в Италии, она приняла решение там остаться, закончила курсы, устроилась на работу, сняла жилье, наняла няню, записала сына в школу, и запрашиваемые ей алименты в размере 150 000 рублей были необходимы уже не на лечение, а на возможность остаться в Италии.</span>';
  - var resultText = 'Мы доказали суду, что запрашиваемые супругой Антона деньги, не являются алиментами и взыскание их является незаконным.<br/><br/>В итоге, суд склонился к нашим доводам и отказал супруге Антона в удовлетворении ее требований относительно выплаты алиментов в виде фиксированной суммы 150 000 рублей в месяц.';
  - var doerName = 'Инна Беляева';
  - var imgDummyDesk = 'data:image/gif;base64,R0lGODlhQQBBAIAAAP///wAAACH5BAEAAAEALAAAAABBAEEAAAJGjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu97sqAAA7';
  - var imgWebp = 'img/general/form-1-w1.webp';
  - var imgPng = 'img/general/form-1-w1.png';