extends practice-item

block variables
  - var piItemTitle = 'Убедили супругу подписать мировое соглашение в суде';
  - var situationText = 'К нам обратимся Роман, к моменту обращения его супруга уже подала на развод. В своем заявлении она просила<span class="practice-item__dots">...</span><span class="practice-item__hidden"> оставить ей большую квартиру, определить место жительство двоих детей с ней и выплачивать алименты на детей в размере 33% от зарплаты.<br /><br />В процессе общения с Романом мы установили, что он хотел бы остаться проживать в большой квартире и хотел бы, чтобы 12 - летний сын остался с ним, а 9 - летняя дочь осталась с материю.</span>';
  - var whatWeDidText = 'Мы подготовили Романа к серьезной беседе с сыном и дочерью. После беседы с детьми он подтвердил, что дети дадут свое согласие на раздельное проживание<span class="practice-item__dots">...</span><span class="practice-item__hidden"> - сын с отцом, а дочь с матерью.<br /><br />Далее, мы проанализировали все совместно нажитое имущество и нашли возможность предложить Роману вариант, при котором он мог бы сохранить за собой большую квартиру.<br />Его супруге дополнительно к 2-х комнатной квартире был также предложен подземный гараж в другом доме, который по стоимости вместе с квартирой мог составил 50 % от их общего имущества.</span>';
  - var resultText = 'Нам удалось договориться с супругой Романа и убедить ее подписать мировое соглашение в суде.';
  - var doerName = 'Юлия Ковалева';
  - var imgDummyDesk = 'data:image/gif;base64,R0lGODlhQQBBAIAAAP///wAAACH5BAEAAAEALAAAAABBAEEAAAJGjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu97sqAAA7';
  - var imgWebp = 'img/general/practice-w1-desktop.webp';
  - var imgPng = 'img/general/practice-w1-desktop.png';