extends practice-item

block variables
  - var piItemTitle = 'Помогли маме добиться позитивных условий,<br />несмотря на сложное положение';
  - var situationText = 'Супруг Марии ушел к новой пассии с угрозой, что подаст на развод и оставит Марию денег и заберет детей<span class="practice-item__dots">...</span><span class="practice-item__hidden">. У супругов была недвижимость, приобретенная в браке, но в большей степени на деньги Марии, а также машины. Дело осложнялось тем, супруг несколько раз заставал Марию нетрезвой, и более того Мария устроила супругу пьяную разборку на крыльце дома, что засняла видеокамера.</span>';
  - var whatWeDidText = 'В результате жесткой встречи с супругом мы убедили его подписать с Марией Соглашение об определении места жительства детей с матерью<span class="practice-item__dots">...</span><span class="practice-item__hidden"> и Соглашение об уплате алиментов. Установили, что до приобретения в браке совместного дома на Рублевке Мария до брака продала большую и дорогую квартиру. Нам удалось в процессе нескольких встреч с супругом убедить его в бесперспективности борьбы его за это дом, так как этот дом, однозначно принадлежит Марии.</span>';
  - var resultText = 'Мы убедили супругов до развода подписать брачный договор по определению режима <br />совместного имущества согласно договоренности. Таким образом, удалось через суд быстро <br />и без проблем провести развод, так как оба супруга уже были согласны на развод, вопросов <br />по месту жительства детей у них не было, вопрос с алиментами решен.';
  - var doerName = 'Юлия Ковалева';
  - var imgDummyDesk = 'data:image/gif;base64,R0lGODlhQQBBAIAAAP///wAAACH5BAEAAAEALAAAAABBAEEAAAJGjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu97sqAAA7';
  - var imgWebp = 'img/general/practice-w1-desktop.webp';
  - var imgPng = 'img/general/practice-w1-desktop.png';

  