include ../../../components/simple-input/simple-input
include ../inc/m-big-header/m-big-header
include ../inc/m-subheader/m-subheader
include ../inc/m-bold-subheader/m-bold-subheader
include ../inc/m-subm-btn/m-subm-btn
include ../../../components/choose-msngr/choose-msngr
include ../../../components/accept/accept

.popup#modal-2.modal-2
  .modal-2__container
    .modal-2__close-btn
      include ../../../components/close-btn/close-btn
    +m-big-header('Чтобы получить оценку перпектив<br />давайте свяжемся и обсудим<br />вашу ситуацию', 'modal-2__header')
    +m-subheader('По итогам разговора вы получите  честную оценку перспектив, а также первоначальный план действий, которые помогут добиться результата.', 'modal-2__subheader')
    .modal-2__delimeter.delimeter
    +m-bold-subheader('Оставьте ваш номер и выберите удобный вариант<br />для связи. Я свяжусь с вами в течение 30-60 минут.', 'modal-2__bold-subheader')
    form(action="" method="post" id="modal-2-form").modal-2__form
      +simple-input('Как вас зовут?', 'username', 'modal-2-form__name')
      p.modal-2__form-prompt.form-prompt Как вам удобно получить ответ?
      .modal-2__choose-msngr
        +choose-msngr('2')
      .modal-2__input
        +simple-input('Введите номер Телефона', 'number', 'modal-2_messenger')
      +m-subm-btn('modal-2__btn', 'Получить оценку перспектив','90')
      +accept('modal-2', 'modal-2__accept')
    .modal-2__right-block
      include ../inc/right-block/right-block