.modal-2 {
  &__container {
    position: relative;
    box-sizing: border-box;
    max-width: 920px;
    margin: 0 auto;
    background: $white;
    border-radius: 8px;
    padding: 34px 50px 30px;

    @media (max-width: 920px) {
      max-width: 500px;
      padding: 30px 40px;
    }

    @include breakpoint(mobile-l) {
      max-width: 300px;
      padding: 22px 10px;
    }
  }

  &__right-block {
    position: absolute;
    right: -4px;
    bottom: 0;

    @media (max-width: 920px) {
      display: none;
    }
  }

  &__close-btn {
    position: absolute;
    z-index: 30;
    top: -16px;
    right: -34px;

    @include breakpoint(laptop) {
      top: -33px;
      right: initial;
      left: calc(50% - 10px);
    }
  }

  &__delimeter {
    position: relative;
    left: -50px;
    max-width: 480px;

    @include breakpoint(mobile-l) {
      position: initial;
    }
  }

  &__form {
    max-width: 350px;
  }

  &__header {
    margin-bottom: 14px;

    @include breakpoint(mobile-l) {
      margin-bottom: 7px;
    }
  }

  &__subheader {
    max-width: 420px;
    margin-bottom: 22px;

    @include breakpoint(mobile-l) {
      margin-bottom: 14px;
    }
  }

  &__delimeter {
    margin-bottom: 15px;
  }

  &__bold-subheader {
    margin-bottom: 20px;
  }

  &__form-prompt {
    margin: 13px 0 4px 0;

    @include breakpoint(mobile-l) {
      margin: 6px 0 0px 0;
    }
  }

  &__choose-msngr {
    margin-bottom: 10px;
  }

  &__input {
    margin-bottom: 15px;

    @include breakpoint(mobile-l) {
      margin-bottom: 10px;
    }
  }

  &__accept {
    margin-top: 3px;
    margin-left: 17px;

    @include breakpoint(mobile-l) {
      margin-left: 0;
      margin-top: 12px;
    }
  }
}