.modal-3 {
  &__container {
    position: relative;
    box-sizing: border-box;
    max-width: 920px;
    margin: 0 auto;
    background: $white;
    border-radius: 8px;
    padding: 44px 50px 30px;
  }

  &__right-block {
    position: absolute;
    right: -4px;
    bottom: 0;
  }

  &__close-btn {
    position: absolute;
    z-index: 30;
    top: -16px;
    right: -34px;
  }

  &__delimeter {
    position: relative;
    left: -50px;
    max-width: 480px;
  }

  &__form {
    max-width: 350px;
  }

  &__textarea {
    margin-bottom: 20px; 
  }

  &__header {
    margin-bottom: 22px;
  }

  &__form-prompt {
    margin: 13px 0 4px 0;
  }

  &__choose-msngr {
    margin-bottom: 10px;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__accept {
    margin-top: 3px;
    margin-left: 17px;
  }
}