.what-situation
  .container
    h2.what-situation__title
    .what-situation__cases-wrapper
      .what-situation__cases
        .what-situation__case
          include ../case/case-1
        .what-situation__case
          include ../case/case-1
        .what-situation__case
          include ../case/case-1