extends milestone

block variables
  - var msLabel = 'Этап 4';
  - var msHeader = 'Защита ваших<br />интересов в суде';
  - 
    var paragraphs = [
      'Если урегулировать ситуацию<br />до суда не удается, то мы идем<br />в суд и с помощью<br />доказательной базы и нашего<br />опыта защищаем ваши интересы<br />и добиваемся возможного<br />максимума'
    ];
  - var msResult = 'Добиваемся решения суда, которое макимально отражает ваши интересы.';