extends milestone

block variables
  - var msLabel = 'Этап 3';
  - var msHeader = 'Досудебная работа<br />со сторонами';
  - 
    var paragraphs = [
      'Встречаемся с супругом(ой), представляем доказательства и везкие доводы, что суд будет на нашей стороне.',
      'Убеждаем не доводить дело до судебных тяжб и подписать урегулирующие документы - брачные договора, нотарильаные заверения и т.д.'
    ];
  - var msResult = 'Если урегулирующие документы подписаны, дело не доходит до суда, либо суд становится формальностью.';