extends milestone

block variables
  - var msLabel = 'Этап 1';
  - var msHeader = 'Первичная оценка<br />ситуации';
  - 
    var paragraphs = [
      'Изучаем ситуацию в семье, вероятность подачи заявления на развод со стороны супруга(и), его мотивы и возможная доказательная база.',
      'Устанавливаем наличие движимого и недвижимого имущества, определяем, что из выявленного имущества приобретено в браке.'
    ];
  - var msResult = 'Карта действий для достижения позитивного результата.';