extends milestone

block variables
  - var msLabel = 'Этап 1';
  - var msHeader = 'Первичная оценка<br />ситуации';
  - 
    var paragraphs = [
      'Изучаем ситуацию в семье, вероятность подачи заявления на развод со стороны супруга(и), его мотивы и возможная доказательная база.',
      'Проверяем средства, движимую и недвижимую собственность семьи. Определяем, какая получена в браке, а какая нет.'
    ];
  - var msResult = 'Карта действий для достижения позитивного результата.';