extends milestone

block variables
  - var msLabel = 'Этап 2';
  - var msHeader = 'Подготовка<br />доказательной базы';
  - 
    var paragraphs = [
      'Согласно карте вместе с клиентом собираем доказательную базу.',
      'Устанавливаем документы подтверждающие расходы, осуществленные покупки, ищем свидетелей, собираем нужные справки,запрашиваем иные документы из различных учреждений.'
    ];
  - var msResult = 'На основании собранных документов и фактов, мы выстраиваем линию защиты и понимаем, что делать дальше.';