extends milestone

block variables
  - var msLabel = 'Этап 2';
  - var msHeader = 'Подготовка<br />доказательной базы';
  - 
    var paragraphs = [
      'Согласно карте вместе  с клиентом собираем доказательную базу.',
      'Готовим документы, подтверждающие расходы и покупки, ищем свидетелей негативного поведения супруга(и), собираем нужные справки из учреждений.'
    ];
  - var msResult = 'На основании собранных документов и фактов, мы выстраиваем линию защиты и понимаем, что делать дальше.';