extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Право и Технологии";

block content
	include ../../blocks/modules/header/header-qp
	include ../../blocks/modules/footer/footer
	.dummy(style="min-height: 300px; background: rgba(100, 100, 100, 0.1); padding-top: 30px")
		include ../../blocks/modules/quiz/quiz
	.dummy(style="height: 300px; background: rgba(100, 100, 100, 0.1)")
block scripts
	script(src="js/quizPage.js")
	script(src="js/vendor.js")