.modal-5 {
  &__container {
    position: relative;
    box-sizing: border-box;
    max-width: 920px;
    margin: 0 auto;
    background: $white;
    border-radius: 8px;
    padding: 34px 50px 30px;

    @media (max-width: 920px) {
      max-width: 500px;
      padding: 30px 40px;
    }

    @include breakpoint(mobile-l) {
      max-width: 300px;
      padding: 22px 10px;
    }
  }

  &__right-block {
    position: absolute;
    right: -4px;
    bottom: 0;

    @media (max-width: 920px) {
      display: none;
    }
  }

  &__close-btn {
    position: absolute;
    z-index: 30;
    top: -16px;
    right: -34px;

    @include breakpoint(laptop) {
      top: -33px;
      right: initial;
      left: calc(50% - 10px);
    }
  }

  &__delimeter {
    position: relative;
    left: -50px;
    max-width: 480px;

    @include breakpoint(mobile-l) {
      position: initial;
    }
  }

  &__form-inner {
    max-width: 350px;
  }

  &__header {
    margin-bottom: 30px;

    @include breakpoint(mobile-l) {
      margin-bottom: 15px;
    }
  }

  &__subheader {
    max-width: 420px;
    margin-bottom: 22px;
  }

  &__delimeter {
    margin-top: 26px;
    margin-bottom: 25px;
    position: initial;

    @include breakpoint(mobile-l) {
      margin-top: 14px;
      margin-bottom: 14px;
    }
  }
  
  &__subtext {
    font-family: "UniNeueBook", sans-serif;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 10px;

    @include breakpoint(mobile-l) {
      text-align: center;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }


  /* CHECKS */

  &__checks {
    padding-left: 3px;
    margin-bottom: 25px;
    
    @include breakpoint(mobile-l) {
      padding-left: 0;
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
    }
  }

  &__checks-input {
    display: none;
  }

  &__checks-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-family: "UniNeueBold", sans-serif;
    font-size: 17px;
    line-height: 23px;
    padding-left: 34px;

    &:first-of-type {
      margin-right: 50px;
    }

    &::before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      border: 1px solid #a3b8d8;
    }

    @include breakpoint(mobile-l) {
      font-size: 14px;
      line-height: 18px;
      padding-left: 23px;

      &:first-of-type {
        margin-right: 48px;
      }

      &::before {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__checks-input:checked + &__checks-label {
    &::before {
      background: $mariner;
      box-shadow: 0 0 0 4px $white inset;
    }

    @include breakpoint(mobile-l) {
      &::before {
        box-shadow: 0 0 0 3px $white inset;
      }
    }
  }

  /* CHECKS END */

  &__input {
    margin-bottom: 15px;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__accept {
    margin-top: 3px;
    margin-left: 17px;

    @include breakpoint(mobile-l) {
      margin-left: 0;
      margin-top: 12px;
    }
  }
}