.modal-5 {
  &__container {
    position: relative;
    box-sizing: border-box;
    max-width: 920px;
    margin: 0 auto;
    background: $white;
    border-radius: 8px;
    padding: 34px 50px 30px;
  }

  &__right-block {
    position: absolute;
    right: -4px;
    bottom: 0;
  }

  &__close-btn {
    position: absolute;
    z-index: 30;
    top: -16px;
    right: -34px;
  }

  &__delimeter {
    position: relative;
    left: -50px;
    max-width: 480px;
  }

  &__form {
    
  }

  &__form-inner {
    max-width: 350px;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__subheader {
    max-width: 420px;
    margin-bottom: 22px;
  }

  &__delimeter {
    margin-top: 26px;
    margin-bottom: 25px;
    position: initial;
  }

  &__subtext {
    font-family: "UniNeueBook", sans-serif;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__form-prompt {
    margin: 13px 0 4px 0;
  }

  /* CHECKS */

  &__checks {
    padding-left: 3px;
    margin-bottom: 25px;
  }

  &__checks-input {
    display: none;
  }

  &__checks-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-family: "UniNeueBold", sans-serif;
    font-size: 17px;
    line-height: 23px;
    padding-left: 34px;

    &:first-of-type {
      margin-right: 50px;
    }

    &::before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      border: 1px solid #a3b8d8;
    }
  }

  &__checks-input:checked + &__checks-label {
    &::before {
      background: $mariner;
      box-shadow: 0 0 0 4px $white inset;
    }
  }

  /* CHECKS END */

  &__choose-msngr {
    margin-bottom: 10px;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__accept {
    margin-top: 3px;
    margin-left: 17px;
  }
}