.s-map#s-map
  .s-map__inner
    .container.s-map__container
      .s-map__where-we-are
        .s-map__wwa-p1 Приходите<br/>к нам в гости
        .s-map__wwa-p2 Найти нас просто
        .s-map__wwa-p3 Мы находися в самом центре Москвы в 5 минутах ходьбы от м. Тверская
      .s-map__address-block
        include ../address-block/address-block