.controls {
  display: flex;
  align-items: center;

  @include breakpoint(mobile-l) {
    flex-direction: column;
    align-items: stretch;
    
  }

  &__next {
    flex: 1 1 50%;
    padding-right: 5px;

    @include breakpoint(contSize) {
      padding-right: 0;
      flex: 1 1 275px;
    }

    @media (max-width: 765px) {
      flex: 1 1 50%;
    }
    @include breakpoint(mobile-l) {
      flex: 1 1 100%;
      order: -1;
      margin-bottom: 10px;
    }
  }

  &__prev {
    flex: 1 1 50%;
    margin-right: 51px;

    @include breakpoint(contSize) {
      margin-right: 46px;
    }

    @media (max-width: 765px) {
      flex: 1 1 50%;
      margin-right: 20px;
    }

    @include breakpoint(mobile-l) {
      flex: 1 1 100%;
      margin-right: 0;
    }
  }
}