extends layouts/default
include helpers/mixins

block variables
	- const title = "Право и Технологии"

block content
	include ../blocks/modules/header/header
	include ../blocks/modules/what-situation/what-situation
	include ../blocks/modules/s-experience/s-experience
	include ../blocks/modules/two-persons/two-persons
	include ../blocks/modules/practice/practice
	include ../blocks/modules/form-1/form-1
	include ../blocks/modules/milestones/milestones
	include ../blocks/modules/s-price/s-price
	.dummy
	include ../blocks/modules/s-map/s-map
	include ../blocks/modules/footer/footer

	include ../blocks/modules/quiz/quiz
	include ../blocks/modules/popups/modal-1/modal-1
	include ../blocks/modules/popups/modal-2/modal-2
	include ../blocks/modules/popups/modal-3/modal-3
	include ../blocks/modules/popups/modal-4/modal-4
	include ../blocks/modules/popups/modal-5/modal-5
	include ../blocks/modules/popups/modal-6/modal-6
	include ../blocks/modules/popups/modal-7/modal-7

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")