@import "header/header";
@import "footer/footer";

@import "top-line/top-line";
@import "header-notice/header-notice";
@import "what-situation/what-situation";
@import "case/case";
@import "s-experience/s-experience";
@import "two-persons/two-persons";
@import "practice/practice";
@import "practice-item/practice-item";
@import "form-1/form-1";
@import "milestones/milestones";
@import "milestone/milestone";
@import "s-price/s-price";
@import "social-links/social-links";
@import "address-block/address-block";
@import "s-map/s-map";
@import "quiz-on-page/quiz-on-page";

@import "popups/popups";

@import "modules-qp";
@import "header/header-thp";