.address-block {
  position: relative;
  z-index: 5;
  box-shadow: 0px 0px 20px 0px rgba(30, 54, 94, 0.15);

  & .plank {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
    width: 91.8%;
    height: 7px;
    background: $white;
    border-radius: 0 0 10px 10px;
    z-index: 0;
    background: linear-gradient(180deg, rgba(239,241,244,1) 0%, rgba(247,248,249,1) 100%);
    box-shadow: 0px 0px 20px 0px rgba(30, 54, 94, 0.15);
  }

  &__pic {
    width: 100%;
    height: 166px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  &__body {
    background: $white;
    border-radius: 0 0 10px 10px;
    padding: 25px;
    padding-bottom: 38px;
  }

  &__head {
    font-family: "UniNeueBold", sans-serif;
    font-size: 20px;
    padding-left: 28px;

    &.address-block__head--address {
      line-height: 25px;
      background: url("../img/general/mark.svg") left no-repeat;
      margin-bottom: 10px;
    }

    &.address-block__head--time {
      line-height: 20px;
      background: url("../img/general/clock.svg") left no-repeat;
      margin-bottom: 10px;
    }
  }

  &__content {
    line-height: 22px;
  }

  &__item:first-child {
    margin-bottom: 26px;
  }
}