.address-block
  .plank
  picture.address-block__pic
    source(srcset="" data-srcset="img/general/address-photo.webp" type="image/webp")
    img(src="", data-src="img/general/address-photo.png")
    //- source(srcset="img/general/address-photo.webp" type="image/webp")
    //- img(src="img/general/address-photo.png")
  .address-block__body
    .address-block__item
      .address-block__head.address-block__head--address Адрес
      p.address-block__content г. Москва, ул. Тверская, д. 16, cтр. 1,<br/>офис. Б901
    .address-block__item
      .address-block__head.address-block__head--time Режим работы
      p.address-block__content ПН-ПТ с 10:00 до 17:00
      p.address-block__content СБ - с 10:00 до 15:00
      p.address-block__content ВС: выходной