.address-block
  .plank
  picture.address-block__pic
    source(srcset="img/general/address-photo.webp" type="image/webp")
    img(src="img/general/address-photo.png" alt="Город")
  .address-block__body
    .address-block__item
      .address-block__head.address-block__head--address Адрес
      p.address-block__content г. Москва, ул. Тверская, д. 16, cтр. 1,<br/>офис. Б901
    .address-block__item
      .address-block__head.address-block__head--time Режим работы
      p.address-block__content ПН-ПТ с 10:00 до 19:00
      //- p.address-block__content с 10:00 до 15:00
      p.address-block__content СБ, ВС: выходной