.prev-btn {
  cursor: pointer;
  color: $mariner;
  display: flex;
  align-items: center;

  @include breakpoint(mobile-l) {
    justify-content: center;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    transform: translateY(1px);
  }

  &__text {
    font-size: 16px;
    margin-left: 5px;

    @include breakpoint(mobile-l) {
      font-size: 15px;
      margin-left: 12px;
      vertical-align: middle;
    }
  }

  &__arrow {
    display: inline-block;
    vertical-align: middle;
  }

  &.prev-btn--hidden {
    visibility: hidden;
    pointer-events: none;
  }
}