.progress
  .progress__pimp.progress__pimp--1.progress__pimp--active
    .progress__title.progress__title--1.progress__title--shown Шаг&nbsp;1
    .progress__pimp-inner
  .progress__strip.progress__strip--1
    +icon('strips')
  .progress__pimp.progress__pimp--2
    .progress__title.progress__title--2 Шаг&nbsp;2
    .progress__pimp-inner
  .progress__strip.progress__strip--2
    +icon('strips')
  .progress__pimp.progress__pimp--3
    .progress__title.progress__title--3 Шаг&nbsp;3
    .progress__pimp-inner
  .progress__strip.progress__strip--3
    +icon('strips')
  .progress__pimp.progress__pimp--4
    .progress__title.progress__title--4 Шаг&nbsp;4
    .progress__pimp-inner
  .progress__strip.progress__strip--4
    +icon('strips')
  .progress__pimp.progress__pimp--5
    .progress__title.progress__title--5 Шаг&nbsp;5
    .progress__pimp-inner
  //- .progress__strip.progress__strip--5
  //-   +icon('strips')
  //- .progress__pimp.progress__pimp--6
  //-   .progress__title.progress__title--6 Шаг&nbsp;6
  //-   .progress__pimp-inner