include ../../../components/simple-input/simple-input
include ../inc/m-big-header/m-big-header
include ../inc/m-subheader/m-subheader
include ../inc/m-bold-subheader/m-bold-subheader
include ../inc/m-subm-btn/m-subm-btn
include ../../../components/choose-msngr/choose-msngr
include ../../../components/accept/accept

.popup#modal-4.modal-4
  .modal-4__container
    .modal-4__close-btn
      include ../../../components/close-btn/close-btn
    .modal-4__top-header У вас похожая проблема?
    +m-big-header('Давай обсудим, как мы можем<br />ее решить!', 'modal-4__header')
    +m-subheader('По итогам разговора вы получите первоначальный<br />план действий, который поможет добиться результата.', 'modal-4__subheader')
    .modal-4__delimeter.delimeter
    +m-bold-subheader('Оставьте ваш номер и выберите удобный вариант<br />для связи. Я свяжусь с вами в течение 30-60 минут.', 'modal-4__bold-subheader')
    form(action="" method="post" id="modal-4-form").modal-4__form
      +simple-input('Как вас зовут?', 'username', 'modal-4-form__name')
      p.modal-4__form-prompt.form-prompt Как вам удобно получить ответ?
      .modal-4__choose-msngr
        +choose-msngr('2')
      .modal-4__input
        +simple-input('Введите номер Телефона', 'number', 'modal-4_messenger')
      +m-subm-btn('modal-4__btn', 'Получить оценку перспектив','90')
      +accept('modal-4', 'modal-4__accept')
    .modal-4__right-block
      include ../inc/right-block/right-block