mixin women-btn(w_name, w_number)
  button.women-btn
    .women-btn__content
      .women-btn__name= w_name
      .women-btn__reg-number Регистрационный номер <b>#{w_number}</b> <br/>в реестре адвокатов города Москвы
      .women-btn__click Задать вопрос
    .women-btn__bg.women-btn__bg--white
    .women-btn__bg.women-btn__bg--blue