.top-line {
  display: flex;
  align-items: center;
  padding-top: 24px;

  &.top-line--light {
    padding-top: 14px;
  }

  @include breakpoint(laptop) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include breakpoint(mobile-xl) {
    padding-top: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-block {
    @include breakpoint(mobile-xl) {
      padding-left: 13px;
      margin-bottom: 22px;
    }

    &.top-line__logo-block--light {
      padding-left: 2px;
    }
  }

  &__picture {
    width: 152px;
    margin-right: 18px;

    @include breakpoint(mobile-m) {
      width: 140px;
      margin-right: 18px;
      flex-shrink: 0;
    }
  }

  &--light {
    .top-line__picture {
      @include breakpoint(mobile-m) {
        width: 149px;
        margin-right: 10px;
      }
    }
  }

  &__mail-link {
    margin-left: auto;
    margin-right: 46px;
    color: $cornflower-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include breakpoint(mobile-xl) {
      display: none;
    }

    &.top-line__mail-link--light {
      color: #6f9fee;
      margin-right: 48px;
    }
  }

  &__phone-link {
    @include breakpoint(mobile-xl) {
      font-size: 18px;
      margin-right: 0px;
      margin-bottom: 0;
    }

    font-family: "UniNeueBold", sans-serif;
    color: $white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;

    &.top-line__phone-link--light {
      color: $black;
      margin-right: 20px;

      @include breakpoint(mobile-m) {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  &__logo-descr {
    font-family: "UniNeueRegular", sans-serif;
    color: $waterloo;
    font-size: 13px;

    &.top-line__logo-descr--light {
      color: $black;
      margin-left: 8px;
    }
  }

  &__get-consult {
    cursor: pointer;
    font-family: "UniNeueBold", sans-serif;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid rgba(37, 85, 222, 1);
    padding: 21px 21px;
    border-radius: 6px;
    letter-spacing: 0.02em;
    text-shadow: 0px 1px 0px rgba(18, 60, 160, 1);

   

    &.top-line__get-consult {
      color: $mariner;
      border: 2px solid rgba(37, 85, 222, 1);
      padding: 21px 18px;
      text-shadow: none;

      @media (max-width: 900px) {
        margin-top: 20px;
      }

      @include breakpoint(mobile-m) {
        margin-top: 0;
        border: none;
        text-shadow: none;

        &:hover {
          background: transparent;
          transform: scale(1);
        }
      }

      &:hover {
        color: $white;
      }
    }

    @include breakpoint(laptop) {
      // margin: 0 auto;
    }
    
    @include breakpoint(mobile-m) {
      cursor: pointer;
      color: $mariner;
      border: none;
      padding: 0;
      letter-spacing: normal;
      text-shadow: none;
    }
    
    &:hover {
      background: linear-gradient(0deg, rgba(17,57,169,1) 0%,   rgba(50,103,253,1) 100%);
    }
  }
}