.top-line
  .top-line__logo-block
    .top-line__logo
      picture.top-line__picture
        source(srcset="img/general/logo-pravo-i-tehnologii-white1_mobile@1x.webp, img/general/logo-pravo-i-tehnologii-white1_mobile@2x.webp 2x" media="(max-width: 375px)" type="image/webp")
        source(srcset="img/general/logo-pravo-i-tehnologii-white1@1x.webp, img/general/logo-pravo-i-tehnologii-white1@2x.webp 2x" type="image/webp")
        img.top-line__img(src="img/general/logo-pravo-i-tehnologii-white1@1x.png" srcset="img/general/logo-pravo-i-tehnologii-white1@2x.png 2x" alt="Право и Технологии")
      p.top-line__logo-descr Московская <br />коллегия адвокатов
  a.top-line__mail-link(href="mailto:julia.bkp@gmail.com") julia.bkp@gmail.com
  a.top-line__phone-link(href="tel:+79060452107") 8 (906) 045-21-07
  button(data-mfp-src="#modal-1").top-line__get-consult.top-line__get-consult--light Получить консультацию