extends template

block variables
  - var order = 3;
  - var imgPlaceholder = 'data:image/gif;base64,R0lGODlhzAC+AIAAAP///wAAACH5BAEAAAEALAAAAADMAL4AAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxY8EBAgA7';
  - var imagePath = 'img/general/case-img-3_@x1.png';
  - var imagePath_webp = 'img/general/case-img-3_@x1.webp';
  - var subtext = '<span class="case__decor-text">&nbsp;Судебный процесс уже идет&nbsp;</span><br />и его нужно довести до<br />наиболее справедливого<br />для Вас окончания';
  - var paragrahps = ['Будем откровенны - в этой ситуации сложнее всего добиться максимума, т.к у суда уже сложилось какое-то впечатление о вас и о вашей доказательной базе.', 'Но мы сделаем все возможное, чтобы добиться максимально справедливого исхода. Если нужно, обжалуем решение суда и будем сражаться за вас до конца, пока не добьемся максимально возможного в Вашей ситуации результата.'];
  - var btnText = 'Узнать честные перспективы';