@import "UN-Bold-42-48-10-white/UN-Bold-42-48-10-white";
@import "UN-Book-24-white/UN-Book-24-white";
@import "blue-btn/blue-btn";
@import "ctrl-arrow/ctrl-arrow";
@import "sect-header/sect-header";
@import "sect-subheader/sect-subheader";
@import "experience-item/experience-item";
@import "tick-icon/tick-icon";
@import "women-btn/women-btn";