@import "UN-Bold-42-48-10-white/UN-Bold-42-48-10-white";
@import "UN-Book-24-white/UN-Book-24-white";

@import "blue-btn/blue-btn";
@import "blue-btn/blue-btn-qp";

@import "ctrl-arrow/ctrl-arrow";
@import "ctrl-arrow-2/ctrl-arrow-2";
@import "sect-header/sect-header";
@import "sect-subheader/sect-subheader";
@import "experience-item/experience-item";
@import "tick-icon/tick-icon";
@import "women-btn/women-btn";
@import "advantage/advantage";
@import "simple-input/simple-input";
@import "choose-msngr/choose-msngr";
@import "accept/accept";