-
  var qCases = [
    {
      'title': 'Помогли маме получить детей в суде',
      'situation': 'Супруг Марии ушел к новой пассии с угрозой, что подаст на развод и оставит Марию без денег и детей.',
      'result': 'Убедили подписать брачный договор, по которому Мария получила положеннуюдолю имущества и детей.'
    },
    {
      'title': 'Спасли отца от незаконной кабалы',
      'situation': 'Жена требовала выплату алиментов 150 тыс. в месяц вместо положенной четверти зарплаты якобы на лечение сына в Италии.',
      'result': 'Мы доказали суду, что запрашиваемые супругой Антона деньги, не являются алиментами и взыскание их является незаконным.'
    },
    {
      'title': 'Помогли отцу сохранить одного из детей',
      'situation': 'Жена хотела забрать 2 детей. Роман хотел, чтобы 12-летний сын остался с ним, а 9 - летняя дочь осталась с матерью.',
      'result': 'Жена дала свое согласие на раздельное проживание - сын с отцом, а дочь с матерью.'
    },
    {
      'title': 'Помогли маме получить детей в суде',
      'situation': 'Супруг Марии ушел к новой пассии с угрозой, что подаст на развод и оставит Марию без денег и детей.',
      'result': 'Убедили подписать брачный договор, по которому Мария получила положеннуюдолю имущества и детей.'
    }
  ]

.quiz-cases.quiz__cases
  .quiz-cases__head Недавние случаи:
  each qcase, index in qCases
    .quiz-cases__case(class=`quiz-cases__case--${index}`)
      .quiz-cases__c-title= qcase.title
      .quiz-cases__main
        .quiz-cases__c-block
          .quiz-cases__c-block-title Ситуация:
          .quiz-cases__c-block-text= qcase.situation
        .quiz-cases__c-block
          .quiz-cases__c-block-title Результаты:
          .quiz-cases__c-block-text= qcase.result