.two-persons {
  padding-top: 72px;

  padding-bottom: 20px;
    margin-bottom: -47px;

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  @include breakpoint(contSize) {
    margin-bottom: 0;
  }

  @include breakpoint(contSize) {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  &__header {
    margin-bottom: 26px;

    @include breakpoint(mobile-m) {
      margin-bottom: 12px;
    }
  }

  &__subheader {
    margin-bottom: 66px;

    @include breakpoint(laptop) {
      margin-bottom: 30px;
    }

    @include breakpoint(mobile-m) {
      margin-bottom: 0;
    }
  }

  &__blocks {
    position: relative;
    min-height: 700px;

    &-inner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;      
    }

    @include breakpoint(contSize) {
      position: initial;
      flex-direction: row;
      min-height: auto;

      &-inner {
        @include row-flex();
        flex-direction: row;
        position: initial;
        height: auto;
        width: auto;
        top: initial;
        left: initial; 
      }
    }

    @include breakpoint(laptop) {
      width: 100%;
    }
  }

  &__block {
    @include breakpoint(contSize) {
      
    }
  }

  &__women-1, &__women-2 {
    flex-basis: 100%;
    position: relative;
    width: 32%;

    @include breakpoint(contSize) {
      @include col();
      @include size(5);

      min-height: 700px;
      flex-basis: auto;
    }

    @include breakpoint(laptop) {
      min-height: auto;
      padding-top: 335px;
    }

    @include breakpoint(tablet) {
      @include size(6);
    }

    @include breakpoint(mobile-xl) {
      @include size(12);
    }

    
  }

  // WOMEN POS
  &__women-1 {
    @include breakpoint(contSize) {
      @include shift-left(1);
    }

    @include breakpoint(tablet) {
      @include shift-left(0);
    }

    @include breakpoint(mobile-xl) {
      padding-top: 320px;
      margin-bottom: 18px;
    }
  }

  &__women-2 {
    @include breakpoint(mobile-m) {
      padding-top: 314px;
    }
  }
  // WOMEN POS

  @include breakpoint(contSize) {
    &__women-1 { order: 1; }
    &__women-2 { order: 2; }
    &__top-block { order: 3; }
    &__bottom-block { order: 4; }
  }

  @include breakpoint(mobile-xl) {
    &__women-1 { order: 1; }
    &__women-2 { order: 3; }
    &__top-block { order: 2; }
    &__bottom-block { order: 4; }
  }

  &__top-block {
    width: 36%;

    @include breakpoint(contSize) {
      @include col();
      @include size(6);

      padding-top: 30px;
    }

    @include breakpoint(mobile-xl) {
      padding-top: 0;
      @include size(12);
    }
  }

  &__bottom-block {
    width: 36%;

    @include breakpoint(contSize) {
      @include col();
      @include size(6);
      
      padding-top: 30px;
    }

    @include breakpoint(mobile-xl) {
      @include size(12);
    }
    
    
  }

  /* TEXT STYLES */
  &__top-text {
    box-sizing: border-box;
    position: relative;
    padding-left: 45px;
    padding-top: 30px;

    font-family: "UniNeueBook", sans-serif;

    b {
      font-family: "UniNeueBold", sans-serif;
    }

    line-height: 26px;

    &::before {
      content: "\201C";
      position: absolute;
      top: 36px;
      left: 6px;
      font-family: "YesevaOne", serif;
      font-size: 80px;
      color: $blue-ribbon;

      @include breakpoint(contSize) {
        top: 10px;
      }

      @include breakpoint(tablet) {
        font-size: 40px;
        top: 6px;
        left: 1px;
      }
    }

    @include breakpoint(contSize) {
      padding-top: 0;
    }

    @include breakpoint(tablet) {
      font-size: 13px;
      line-height: 22px;
      padding-left: 26px;
    }

    @include breakpoint(mobile-m) {
      padding-left: 20px;
    }
  }

  &__bb-text {
    position: relative;
    padding-top: 69px;
    padding-left: 72px;
    letter-spacing: 0.01em;

    font-family: "UniNeueBook", sans-serif;

    b {
      font-family: "UniNeueBold", sans-serif;
    }

    line-height: 22px;

    &:last-child {
      padding-top: 32px;
    }

    @include breakpoint(contSize) {
      padding-top: 0;

      &:last-child {
        padding-top: 0;
      }

      &:first-child {
        margin-bottom: 30px;
      }
    }

    @include breakpoint(tablet) {
      font-size: 14px;
      line-height: 22px;
    }

    @include breakpoint(mobile-m) {
      padding-left: 65px;

      &:first-child {
        margin-bottom: 26px;
      }
    }
  }
  /* TEXT STYLES  END*/

  &__bb-icon {
    content: "";
    box-sizing: border-box;
    position: absolute;
    background: $blue-grad;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__bb-icon.two-persons__bb-icon--blank {
    top: 76px;
    padding-top: 12px;
    padding-left: 16px;

    .icon-blank {
      fill: $white;
      width: 20px;
      height: 27px;
    }

    @include breakpoint(contSize) {
      top: 10px;
    }

    @include breakpoint(mobile-m) {
      top: 50%;
      transform: translateY(-25px);
      left: 3px;
    }
  }

  &__bb-icon.two-persons__bb-icon--hammer {
    top: 52px;
    padding-top: 10px;
    padding-left: 14px;

    .icon-hammer {
      fill: $white;
      width: 27px;
      height: 27px;
    }

    @include breakpoint(contSize) {
      top: 10px;
    }

    @include breakpoint(mobile-m) {
      top: 50%;
      transform: translateY(-25px);
      left: 3px;
    }
  }
  

  &__women-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;

    @include breakpoint(laptop) {
      position: relative;
      bottom: initial;
    }
  }

  &__women-1 &__picture {
    z-index: 0;
    position: absolute;
    bottom: calc(100% - 90px);
    left: 22px;
    width: 408px;

    @include breakpoint(laptop) {
      width: 206px;
      bottom: calc(100% - 10px);
    }

    @include breakpoint(mobile-m) {
      bottom: calc(100% - 25px);
      left: 50px;
    }
  }

  &__women-2 &__picture {
    z-index: 0;
    position: absolute;
    bottom: calc(100% - 150px);
    left: 4px;
    width: 396px;

    @include breakpoint(laptop) {
      bottom: calc(100% - 40px);
      left: initial;
      right: 20px;
      width: 200px;
    }

    @include breakpoint(mobile-m) {
      bottom: calc(100% - 52px);
      right: 48px;
    }
  }
}

.webp .two-persons {
  // background-color: aqua;
  
  background-image: url("../img/general/two-persons-block_bg_desktop.webp");

  // @include breakpoint(mobile-m) {
  //   background-image: url("../img/general/bg-header-mobile@x2.webp");
  // }
}

.no-webp .two-persons {
  background-image: url("../img/general/two-persons-block_bg_desktop.jpg");

  // @include breakpoint(mobile-m) {
  //   background-image: url("../img/general/bg-header-mobile@x1.jpeg");
  // }
}