ul.social-links
  li.social-links__item
    a(href="").social-links__link.social-links__link--yt
      +icon('yt')
  li.social-links__item
    a(href="").social-links__link.social-links__link--fb
      +icon('fb')
  li.social-links__item
    a(href="").social-links__link.social-links__link--vk
      +icon('vk')