.footer {

  &__top-line {
    background: rgb(63, 60, 75);
    background: linear-gradient(153deg, rgba(63, 60, 75, 1) 0%, rgba(43, 47, 61, 1) 100%);

    padding-top: 30px;
    padding-bottom: 35px;

    @include breakpoint(mobile-l) {
      padding-bottom: 41px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(mobile-l) {
      flex-direction: column;
    }
  }

  &__logo-block {
    padding-top: 10px;

    @include breakpoint(mobile-l) {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__picture {
    width: 146px;
    margin-bottom: 12px;

    @include breakpoint(mobile-l) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  &__logo-descr {
    font-size: 13px;
    color: $white;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include breakpoint(mobile-l) {
      align-items: center;
    }
  }

  &__phone-link {
    font-family: "UniNeueBold", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

    @include breakpoint(mobile-l) {
      font-size: 22px;
    }
  }

  &__mail-link {
    margin-bottom: 25px;
    color: #5088e5;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

    @include breakpoint(mobile-l) {
      margin-bottom: 34px;
    }
  }
  
  &__bottom-line {
    
  }

  &__politics {
    color: #6f9fee;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include breakpoint(mobile-xl) {
      margin-bottom: 19px;
    }
  }

  &__developer {

    a {
      color: #6f9fee;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }

    @include breakpoint(mobile-xl) {
      font-size: 14px;
    }
  }

  &__extra-links {
    min-height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(mobile-xl) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 105px;
    }
  }
}