.q-block {
  display: none;

  &__title {
    text-align: center;
    font-family: "UniNeueBold", sans-serif;
    font-size: 26px;
    line-height: 36px;
    margin: 0 -30px;
    margin-bottom: 18px;

    @include breakpoint(tablet) {
      margin: 0;
      margin-bottom: 18px;
    }

    @media (max-width: 765px) {
      font-size: 18px;
      line-height: normal;
      margin: 0;
      margin-bottom: 18px;
    }

    @include breakpoint(mobile-m) {
      margin-bottom: 0;
    }
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 0 3px;

    @media (max-width: 1024px) {
      padding: 0;
      // flex-direction: column;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    display: flex;
    flex: 1 1 275px;
    align-items: center;
    max-width: 275px;
    border: 1px solid #d9deec;
    border-radius: 4px;
    padding: 21px 19px;
    transition: all 0.2s;

    @media (max-width: 765px) {
      flex: 1 1 50%;
      max-width: none;
      padding: 12px 10px 12px 38px;

      &:first-of-type {
        margin-right: 20px;
      }
    }

    @include breakpoint(mobile-xl) {

    }
  }

  &__label-checkbox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(53, 56, 66, 0.3) inset;
    margin-right: 15px;
    transition: all 0.2s;

    @include breakpoint(mobile-xl) {
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }
  }

  &__label-text {
    font-size: 18px;

    @include breakpoint(mobile-xl) {
      font-size: 16px;
    }
  }

  &__input:checked + &__label {
    border: 1px solid $mariner;
  }

  &__input:checked + &__label &__label-checkbox {
    box-shadow: inset 0 0 0 8px $mariner;
  }
}