mixin blue-btn-hover(id, text1)
  button(id=""+id).blue-btn-hover
    .blue-btn-hover__grey
      .blue-btn-hover__grey-inner
    .blue-btn-hover__blue
      .blue-btn-hover__blue-inner
    span.blue-btn-hover__text #{text1}