.blue-btn-qp {
  display: block;
  position: relative;
  width: 100%;

  span {
    display: block;
  }
  
  color: $white;
  border-radius: 6px;
  // overflow: hidden;
  padding-bottom: 5px;
  
  background: rgb(17,57,169);
  background: linear-gradient(0deg, rgba(17,57,169,1) 0%,   rgba(50,103,253,1) 100%);
  
  &:hover {
    background: linear-gradient(0deg, rgb(30, 66, 167) 0%,   rgb(83, 128, 253) 100%);
  }

  &::after {
    position: absolute;
    content: "";
    width: 167px;
    height: 170px;
    z-index: 10;
    top: -31px;
    right: -79px;
    z-index: 10;
    transform: rotate(12deg);

    .webp & {
      background-image: url('../img/general/s-price-pic-1.png');
    }

    @include breakpoint(mobile-xl) {
      display: none;
    }
  }

  @include breakpoint(mobile-m) {
    width: 300px;
    margin: 0 auto;
  }
  
  
  &__inner {
    padding: 34px 57px;
    border-radius: 6px;
    box-shadow: 0px 0px 15px 0px rgba(171, 224, 255, 0.4) inset;

    @include breakpoint(mobile-xl) {
      padding: 30px 0;
    }

    @include breakpoint(mobile-m) {
      padding: 20px 0;
    }
  }

  &__top-text {
    font-family: "UniNeueRegular", sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-shadow: 0px 0px 1px rgba(18, 60, 160, 1);
    letter-spacing: 0.01em;

    @include breakpoint(mobile-l) {
      font-size: 16px;
      line-height: 22px;
      padding: 0 30px;
    }
  }
}

@include breakpoint(mobile-m) {

}