.blue-btn {
  display: block;
  width: 100%;

  span {
    display: block;
  }
  
  color: $white;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 5px;
  
  background: rgb(17,57,169);
  background: linear-gradient(0deg, rgba(17,57,169,1) 0%,   rgba(50,103,253,1) 100%);
  
  &:hover {
    background: linear-gradient(0deg, rgb(30, 66, 167) 0%,   rgb(83, 128, 253) 100%);
  }

  @include breakpoint(mobile-m) {
    width: 300px;
    margin: 0 auto;
  }
  
  
  &__inner {
    padding: 24px 57px;
    border-radius: 6px;
    box-shadow: 0px 0px 15px 0px rgba(171, 224, 255, 0.4) inset;

    @include breakpoint(mobile-m) {
      padding: 20px 0;
    }
  }

  &__top-text {
    font-family: "UniNeueRegular", sans-serif;
    font-size: 16px;
    // margin-bottom: 6px;
    text-shadow: 0px 0px 1px rgba(18, 60, 160, 1);

  }
  
  &__bottom-text {
    font-family: "UniNeueBold", sans-serif;
    font-size: 22px;
    text-shadow: 0px 0px 1px rgba(18, 60, 160, 1);

    @include breakpoint(mobile-m) {
      font-size: 18px;
    }
  }
}

@include breakpoint(mobile-m) {
  .form-1__form .blue-btn {
    width: 100%;
  }

  .form-1__form .blue-btn__inner {
    padding: 21px 0;
  }

  .form-1__form .blue-btn__top-text {
    font-size: 16px;
  }
}


@import "blue-btn-hover";