mixin blue-quiz-btn(id, text1)
    button(id=""+id).blue-btn
      .blue-quiz-btn__inner
        span.blue-quiz-btn__top-text #{text1}
        svg(xmlns="http://www.w3.org/2000/svg" class="blue-quiz-btn__arrow" width="22px" height="15px")
            path(fill-rule="evenodd"  opacity="0.502" fill="rgb(255, 255, 255)" d="M7.176,0.202 C7.487,-0.099 7.975,-0.099 8.285,0.202 C8.585,0.493 8.585,0.978 8.285,1.268 L2.664,6.728 L21.213,6.728 C21.645,6.728 22.000,7.062 22.000,7.482 C22.000,7.902 21.645,8.247 21.213,8.247 L2.664,8.247 L8.285,13.697 C8.585,13.998 8.585,14.483 8.285,14.774 C7.975,15.075 7.487,15.075 7.176,14.774 L0.224,8.021 C-0.075,7.730 -0.075,7.245 0.224,6.955 L7.176,0.202 Z")