.quiz {
  padding: 0 15px;

  @include breakpoint(mobile-l) {
    padding: 0 10px;
  }

  & * {
    box-sizing: border-box;
  }

  &__content {
    position: relative;
    display: flex;
    background: $white;
    border-radius: 8px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 10px;

    @include breakpoint(contSize) {
      max-width: 700px;
    }

    @media (max-width: 765px) {
      max-width: 100%;
    }

    @include breakpoint(mobile-l) {
      padding: 0;
    }
  }

  &__main-block {
    border-radius: 8px;
    box-shadow: 0 0 15px 0 rgba(30, 54, 94, 0.15);
    margin-right: 20px;
    flex: 1 1 768px;
    padding: 74px 80px 20px;

    @include breakpoint(contSize) {
      margin-right: 0;
      padding: 40px 20px 20px;
      flex: 1 1 auto;
    }

    @include breakpoint(mobile-l) {
      box-shadow: 0 0 8px 0 rgba(30, 54, 94, 0.15);
      padding: 44px 15px 32px;
    }
  }

  &__right-block {
    flex: 1 1 302px;
    display: flex;
    flex-direction: column;

    @include breakpoint(contSize) {
      display: none;
    }
  }

  &__cases {
    border-radius: 8px;
    box-shadow: 0 0 15px 0 rgba(30, 54, 94, 0.15);
    margin-bottom: 20px;
    flex-grow: 1;
  }

  &__fast-form {
    border-radius: 8px;
    box-shadow: 0 0 15px 0 rgba(30, 54, 94, 0.15);
  }

  &__questions {
    min-height: 225px;
    padding-top: 34px;

    @include breakpoint(mobile-l) {
      padding-top: 24px;
    }

    @include breakpoint(mobile-m) {
      min-height: 185px;
    }
  }

  &__progress {
    max-width: 607px;
    margin: 0 auto;

    @media (max-width: 765px) {
      max-width: none;
      display: flex;
      justify-content: center;
    }
  }

  &__cases {
    padding: 20px 20px;
  }

  &__fast-form {
    padding: 14px 20px 15px;
  }

  &__wrapper {
    position: relative;
  }

  &__close-btn {
    position: absolute;
    z-index: 20;
    top: -20px;
    right: -28px;

    @media (max-width: 1200px) {
      right: initial;
      left: calc(50% - 10px);
      top: -28px;
    }
  }
}

@import "quiz-cases";
@import "fast-form";