.quiz-cases.quiz__cases
  .quiz-cases__head Недавние случаи:
  .quiz-cases__c-title Муж хотел забрать все имущество,<br />но получил лишь собаку
  .quiz-cases__main
    .quiz-cases__c-block
      .quiz-cases__c-block-title Ситуация:
      .quiz-cases__c-block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
    .quiz-cases__c-block
      .quiz-cases__c-block-title Результаты:
      .quiz-cases__c-block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.