.quiz#quiz
  .quiz__content
    .quiz__close-btn
      include ../../components/close-btn/close-btn
    .quiz__main-block
      .quiz__progress
        include ../progress/progress
      .quiz__questions
        include ../q-questions/q-questions
      .quiz__controls
        include ../controls/controls
    .quiz__right-block
      include quiz-cases
      include fast-form