h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "UniNeueRegular", sans-serif;
  font-size: 15px;
  line-height: normal;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.svg-sprite-icon {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }
}

.text-back {
  background: linear-gradient(to top, rgba(94, 189, 255, 0.3) 0%, rgba(94, 189, 255, 0.3) 100%);
  background-repeat: no-repeat;
  background-position: 0px 0.75em;
  background-size: auto 0.52em;
}

.container {
  @include container();

  @include breakpoint(laptop) {
    padding-left: 10px;
    padding-right: 10px;
  }
  // @include sm(max-width, rem(510));
  // @include md(max-width, rem(690));
  // @include lg(max-width, rem(930));
  // @include xl(max-width, 1110px);
}